@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.about-wrapper {
  width: 90%;
  text-align: center;
  align-items: center;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
}

.about-wrapper p {
  font-size: 1.8rem;
}

img {
  width: 350px;
}

@media (max-width: 800px) {
  .about-wrapper p {
    font-size: 1.4rem;
  }
}
