@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.header {
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
  text-align: center;
  width: 70%;
}

h1 {
  padding: 40px;
}

a {
  color: red;
  text-decoration: none;
}

p {
  padding-bottom: 30px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 25px;
  }
}
