* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141d26;
}

.swiper-container {
  width: 500px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app-wrapper {
  color: white;
  height: 100vh;
  /* width: 80%; */
  margin: auto;
}

@media (max-width: 640px) {
  .swiper-container {
    width: 350px;
  }
}
